@import '../../Mediaquery/Mediaquery.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

.faq-parent {
    padding-top: 120px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 160px;
    @include lg{
        width: 90%;
        margin: auto;
    }
}

.faq-title h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include lg{
        font-size: 40px;
    }


}

.faq-title p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    font-size: 28px;
    @include lg{
        font-size: 22px;
    }
}

.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    color: #447FF2 !important;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    @include lg{
        color: #447FF2 !important;
    }
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: #447FF2 !important;
}
.css-1fx8m19 {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #447FF2 !important;
}
.question {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.question-button{
    border-radius: 24px;
    margin-top: 40px;
border: 2px solid #447FF2;
width: 207px;
height: 45px;
flex-shrink: 0;
color: #447FF2;
text-align: center;

font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: none;
cursor: pointer;
}