@import '../../Mediaquery/Mediaquery.scss';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap");
.hero-parent{
    .hero-back{
        background: url("../../assets/Rectangle\ 1.png");
        height: 100vh;
    
      
    }
    
    .hero-back h1 {
        color: white;
        font-size: 120px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      
        font-family: "Open Sans", sans-serif;
        text-align: center;
    
        padding-top: 180px;
        @include lg{
            font-size: 80px;
        }
        @include tablet{
            font-size: 60px;
        }
        @include sm{
            letter-spacing: 5.6px;
            font-size: 40px;
        }
        @include mobile{
            letter-spacing: 4.6px;
            font-size: 35px;
        }
    }
    
    .hero-back p {
        color: #fff;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;

        /* 133.611% */
        letter-spacing: -0.36px;
        @include lg{
            font-size: 24px;
          
        }
        @include tablet{
            font-size: 20px;
        }
        @include sm{
            font-size: 16px;
            line-height: 24.1px;
        }
        @include mobile{
            font-size: 16px;
            line-height: 24.1px;
        }
    }
    
    .hero-section-button {
        display: flex;
        gap: 20px;
        justify-content: center;
  
        @include lg{
            margin-top: 40px;
        }
        @include tablet{
            margin-top: 30px;
        }
    }
    
    .hero-section-button button {
        border-radius: 24px;
        background: #447ff2;
  
        cursor: pointer;
        flex-shrink: 0;
        border: none;
        border: 1px solid #447ff2;
        color: #447ff2;
        @include lg{
       
        }
        @include tablet{
            width: 140px;
            height: 40px;
        }
        @include sm{
            width: 110px;
            height: 40px;
        }
    }
}
