@import '../../Mediaquery/Mediaquery.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

.choose-parent {
    padding-top: 120px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
padding-bottom: 120px;
    @include lg {
        width: 90%;
        margin: auto;
    }

    .choose-title h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;


    }

    .choose-title p {
        color: white;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 10px;
        font-size: 28px;
        @include lg{
            font-size: 22px;
        }
    }

    .choose-detail {

        padding-top: 60px;
        @include lg{
            padding-top: 30px;
        }
    }

    .choose-detail-first {
        display: flex;
        gap: 60px;
        align-items: center;
        padding-top: 40px;

        @include lg {
            flex-direction: column;
        }

    }
    #second{
        @include lg{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .choose-detail-first{
      
        .imgg{
            width: 100%;
            position: relative;
        }
        .modal{
            position: absolute;
            top: 35%;
            left: 42%;
            padding: none;
            button{
                font-size: 60px;
                color: #ffffff;
                transition: 0.8s;
                width: 64px;
                height: 64px;
                border: 7px solid white;
                border-radius: 115px;
            }
            button:hover{
                border: none;
                border-radius: 80px;
                padding: none;
                background: #447FF2;
            }
            

        }
    }
    .choose-detail-first img {
        width: 100%;
    }

    .choose-detail-first h1 {
        color: #447FF2;
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;

        font-weight: 700;
        line-height: normal;
        @include lg{
            text-align: center;
        }
    }

    .choose-detail-first p {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
width: 65%;
        font-weight: 400;
        line-height: 26px;
        /* 130% */
        letter-spacing: -0.24px;
        @include lg{
            text-align: center;
            padding-top: 10px;
            font-size: 16px;
            line-height: 25px;

            width: 100%;
        }
    }

   
}

.css-1wnsr1i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50% !important;
    /* background-color: #fff; */
    /* border: 2px solid #000; */
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    height: auto;
    /* box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12); */
    padding: 32px;
    @include lg{
        width: 91% !important;
    }
}
.video{
    border-radius: 12px !important;
}